<% include ./partials/header %>

    <div class=container>
    
    <h1>Landing Page</h1>
    
    <p>Welcome to my Voting App</p>
    
    <p><a href='/polls'>View all the polls</a></p>

</div>

<% include ./partials/footer %>