footer{
    margin-top: 300px;
}

.polls{
    width: 100%;
}

.formheader{
    text-align: center;
}

.newform{
    width: 30%;
    margin: 35px auto;
}

#newoption{
    width: 30%;
    display: none;
}

#delete-form{
    display: inline;
}