html, body{
    height: 100%;
}

.bg{
    background-image: url("background_image_2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}


footer{
    margin-top: 300px;
}

.polls{
    width: 100%;
}

.formheader{
    text-align: center;
}

.newform{
    width: 30%;
    margin: 35px auto;
}

#newoption{
    width: 30%;
    display: none;
}

#delete-form{
    display: inline;
}

#chart {
    width: 80%;
}

.pollLayout {
    margin-left: 30%;
    margin-bottom: 50px;
}

