<% include ../partials/header %>


<div class="container">
    
        <h1><%= poll.name %></h1>
        <% for(var i = 0; i < poll.options.length; i++){ %>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios" class="optionsRadios" value=<%= poll.options[i] %>>
                        <%= poll.options[i] %>
                </label>
            </div>
        <% }; %>
             <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="newOptionRadio" value="newoption">
                        Click here to add your own option
                </label>
            </div>
            <div class="form-group">
                <input class="form-control" id="newoption" type="text" name="optionnew" placeholder="Add your own option here...">
            </div>
        <button class="btn btn-success btn-sm">Submit</button>
  
</div>


<% include ../partials/footer %>